@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --main-color: #87C64D;
    --hover-color: #6caf2f;
    --inactive: #A3B6CC;
}

body{
    background-color: #F0F4FC;
}

/* login */

.login-left-div, .login-right-div{
    height: 100vh;
}

.login-page{
    background-color: #F0F4FC;
}

.login-left-div{
    background-color: #fff;
    padding: 70px 100px 50px 150px;
    border-radius: 0px 250px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-img{
    width: 160px;
}

.login-intro h5{
    font-size: 40px;
    font-family: var(--bs-font-alata);
    color: #000;
    margin-bottom: 0px;
}

.login-intro h2{
    font-size: 58px;
    font-family: var(--bs-font-alata);
    color: #000;
}

.login-intro p{
    color: #686868;
    font-size: 16px;
    font-family: var(--bs-font-nunito);
    width: 70%;
    font-weight: 300;
    margin: 20px 0px 30px;
}

.login-img{
    width: 60%;
}

.login-right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-div .login-form{
    width: 56%;
    text-align: center;
}

.login-form h3{
    font-size: 35px;
    font-family: var(--bs-font-alata);
    color: #000;
}

.login-form p{
    font-size: 15px;
    color: #313131;
    font-weight: 300;
    margin: 20px 0px 30px;
}

.login-form .form-group{
    margin-bottom: 20px;
}

.login-form .form-group input{
    height: 55px;
    border: 0px;
    border-radius: 15px;
    font-size: 15px;
    color: #222;
    font-weight: 300;
    padding: 0px 24px;
    box-shadow: 0px 18px 30px rgb(68 97 242 / 11%);
}

.auth-pass-inputgroup .btn{
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding: 0px 20px 0px 0px;
    font-size: 20px;
}

.auth-pass-inputgroup .btn:active{
    border: 0px;
    background-color: #fff;
    box-shadow: none;
}

.forgot-pass{
    color: #6C737F;
    float: right;
    font-size: 13px;
    transition: 1s;
}

.forgot-pass:hover{
    color: var(--main-color);
    transition: 1s;
}

.login-form .form-check-label{
    font-weight: 400;
}

.btn-1{
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 10px;
    transition: 1s;
}

.btn-1:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.btn-2 {
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 1s;
}

.btn-2:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.btn-4{
    background-color: #e42719;
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.btn-4:hover{
    background-color: #bf1c10;
    transition: 1s;
}

.btn-5{
    background-color: #aaa9bc;
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.btn-5:hover{
    background-color: #555;
    transition: 1s;
}

.login-form .form-check{
    font-size: 13px;
}

.login-bottom {
    margin-top: 25px;
}

.login-bottom p {
    color: #98A2B3;
    font-size: 15px;
}

.login-bottom p a{
    color: var(--main-color);
    transition: 1s;
}

.login-bottom p a:hover{
    color: var(--hover-color);
    transition: 1s;
}

.login-form .mt-33{
    margin-top: 33px;
}

.or-signin .hr{
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    margin: 35px 0px 40px;
}

.or-signin .hr span{
    color: #6C737F;
    font-size: 14px;
    font-weight: 400;
    background-color: #f0f4fc;
    position: relative;
    top: -10px;
    padding: 0px 30px;
}

.social-list-item {
    height: 40px;
    width: 40px;
    display: flex;
    border: 0px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 30px rgb(68 97 242 / 15%);
}

.social-list-item:hover {
    box-shadow: 0px 3px 10px rgb(68 97 242 / 45%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.or-signin .list-inline-item:not(:last-child){
    margin-right: 1rem;
}

.backtologin{
    position: absolute;
    top: 150px;
    right: 100px;
}

.backtologin a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #313131;
    font-size: 14px;
    font-weight: 400;    
    transition: all .4s;
}

.backtologin a:hover{
    color: var(--main-color);
    transition: all .4s;
}

.otp-input{
    width: 75%;
    margin: 0 auto;
}

.otp-input .form-control {
    margin: 0px 10px 0px 0px;
    font-weight: 400;
    text-align: center;
}

.otp-input input[type=number]::-webkit-inner-spin-button, 
.otp-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.login-form #counter{
    font-size: 16px;
    color: #6d737f;
    margin: 20px 0px 0px;
    font-weight: 400;
}

.successful-msg h5{
    font-size: 35px;
    font-family: var(--bs-font-alata);
    color: #000;
    margin: 20px 0px 20px;
}

.successful-msg p{
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}


/* layout */

.navbar-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 270px;
    align-items: center;
}

.btn-expand{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    color: #828db4;
    position: absolute;
    top: 25px;
    left: 207px;
    transform: rotate(-180deg);
    transition: color .5s;
}

.btn-expand:hover{
    color: var(--main-color);
    transition: color .5s;
}

.profile-dropdown .dropdown-divider{
    margin: 2px 0px;
}

.profile-dropdown .dropdown-item svg{
    width: 15px;
}

.profile-dropdown .dropdown-item{
    padding: 5px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #404040;
}

.profile-dropdown .dropdown-item span{
    position: absolute;
    left: 45px;
}

.profile-dropdown .dropdown-menu.show{
    min-width: 185px;
}



/* team-member */

.left-page-title h4{
    font-weight: 400;
    font-size: 12px;
    color: #707EAE;
}

.left-page-title h4 a{
    color: #707EAE;
}

.left-page-title h3{
    color: #2B3674;
    font-size: 20px;
    margin-bottom: 0px;
}

.right-page-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calndr-picker {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #222B45;
}

.calndr-picker h6{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
}

.calndr-picker svg {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 15px;
}

.calndr-picker svg:focus{
    outline: 0 !important;
}

.calndr-picker span{
    font-size: 22px;
    cursor: pointer;
}

.tab-div .nav-pills{
    background-color: #fafaff;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgb(248 248 255 / 10%);
}

.tab-div .nav-pills>li>a{
    color: #828db4;
    font-weight: 400;
}

.tab-div .nav-pills .nav-link.active, .tab-div .nav-pills .show>.nav-link{
    background-color: var(--main-color);
}

.tab-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.tab-right .app-search{
    padding: 0px;
}

.tab-right .app-search .form-control {
    margin-right: 0px;
    width: 300px;
    height: 45px;
    background-color: #fff;
}
.tab-right .app-search span {
    line-height: normal;
    left: 15px;
    top: 16px;
}
.tab-right .dropdown-toggle{
    cursor: pointer;
}

.table-div {
    box-shadow: 1px 1px 48px -8px rgb(185 194 211 / 6%);
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.table th{
    color: #222B45;
    padding: 0.7rem 0.75rem;
}

.user-name{
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name h6{
    margin-bottom: 0px;
    color: #5D7285;
    font-weight: 400;
}

.user-name .avatar-xs{
    height: 2rem;
    width: 2rem;
    position: relative;
}

.user-name .avatar-title{
    border: 3px solid #E0EAFF;
}

.active-bg{
    background-color: var(--main-color);
}

.inactive-bg{
    background-color: var(--inactive);
}

.active-bg::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--main-color);
    border: 3px solid #fff;
}

.inactive-bg::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--inactive);
    border: 3px solid #fff;
}

.table tr td:first-child{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-left: 1px solid #F0F4FC;
}

.table tr td:last-child{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-right: 1px solid #F0F4FC;
}

.table tr td{
    border-top: 1px solid #F0F4FC;
    border-bottom: 1px solid #F0F4FC;
}

.table-div .table{
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.table-bottom{
    padding: 5px;
}

.table-bottom p{
    margin-bottom: 0px;
    color: #5d7285;
}

.table-bottom .pagination{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.table-bottom .pagination .page-link{
    border: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #F0F4FC;
}

.table-bottom .pagination .active .page-link{
    background-color: var(--main-color);
}

.table-bottom .pagination .page-link:hover{
    background-color: var(--main-color);
}

.datepicker-switch{
    text-align: center;
}

.datepicker-days th{
    text-align: center;
}

.datepicker-days th.next, .datepicker-days th.prev{
    cursor: pointer;
}

.datepicker{
    min-width: 130px;
}

.datepicker-months{
    width: 100%;
}

.datepicker-months table{
    width: 100%;
}

.datepicker-months th{
    text-align: center;
}

.datepicker-months td span{
    font-size: 14px;
    padding: 3px 0px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.modal-title{
    display: flex;
    flex-direction: column;
    color: #101828;
    font-size: 20px;
}

.modal-title span{
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 300;
    margin-top: 4px;
}

.modal label{   
    color: #313135;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
}

.modal .form-control{
    border-radius: 25px;
    border: 0px;
    padding: 6px 15px;
    background-color: #F0F4FC;
    color: var(--bs-gray-700);
}

.modal .form-control::placeholder{
    color: var(--bs-gray-700);
}

.modal select{
    border-radius: 25px;
    border: 0px;
    padding: 6px 15px;
    background-color: #F0F4FC;
}

.modal .form-group{
    margin-bottom: 12px;
}

.add-new-member{
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    transition: 1s;
}

.add-new-member:hover{
    color: var(--hover-color);
    transition: 1s;
}

.import-frm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.import-frm ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0px;
    padding-left: 25px;
}

.import-frm ul li{
    background-color: #F0F4FC;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.import-frm ul li img{
    width: 15px;
}

.add-new{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.import-frm h6{
    margin-bottom: 0px;
    font-weight: 400;
    color: #313135;
}
.success-btn{
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.success-btn:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.cancel-btn{
    background-color: #E3E3E3;
    color: #909090;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.cancel-btn:hover{
    background-color: #999;
    color: #fff;
    transition: 1s;
}

.delete-btn{
    background-color: #D92D20;
    color: #ffffff;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.delete-btn:hover{
    background-color: #bb180d;
    color: #fff;
    transition: 1s;
}

.modal .form-checkbox-outline .form-check-input{
    border-width: 1px;
    border-color: #d5d5d5 !important;
    width: 20px;
    height: 20px;
}

.modal .form-checkbox-outline .form-check-input:checked:after{
    top: 1px !important;
    left: 2px;
    font-size: 16px;
    color: #777;
}

.modal .form-checkbox-outline .form-check-input:checked{
    border-color: #777;
}

.modal .form-checkbox-outline label{
    margin-bottom: 0px;
    margin-top: 2px;
}

.modal .form-checkbox-outline{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* colleagues */

.collg-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.collg-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.collg-top img{
    height: 23px;
}

.collg-top span{
    background-color: #EAF4FF;
    color: #2388FF;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 20px;
}

.collg-details{
    padding: 15px 180px 0px 0px;
}

.collg-details h2{
    font-size: 20px;
    font-weight: 400;
    color: #191D21;
    margin-bottom: 8px;
}

.collg-details p{
    font-size: 13px;
    color: #868DA6;
    margin-bottom: 10px;
}

.collg-details h5{
    color: #87C64D;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.collg-details h6{
    font-size: 13px;
    color: #868DA6;
    font-weight: 300;
}

.collg-details ul{
    margin: 20px 0px 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.collg-details ul li a{
    color: #222;
    font-size: 15px;
    transition: 1s;
}

.collg-details ul li a:hover{
    color: var(--main-color);
    transition: 1s;
}

.collg-body{
    position: relative;
}

.collg-body .collg-img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 125px;
    height: 125px;
    border: 5px solid #F0F4FC;
    border-radius: 50%;
}

.collg-body .collg-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.collg-body .collg-img::after{
    content: "";
    position: absolute;
    bottom: 5px;
    right: 8px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.collg-body .collg-img.active::after{
    background-color: var(--main-color);
}

.collg-body .collg-img.inactive::after{
    background-color: var(--inactive);
}

/* .colleague-div{
    max-height: 82vh;
    overflow-y: auto;
} */


/* screenshot */

.screenshot-div{
    margin-top: 10px;
}

.screenshot-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.screenshot-box img{
    width: 100%;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
}

.scrnsht-details{
    display: flex;
    color: #41485C;
    justify-content: space-between;
    margin-top: 8px;
}

.scrnsht-details h6{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
}

.scrnsht-details h6 i{
    margin-right: 5px;
}

.action-btns{
    display: flex;
    gap: 15px;
}

.action-btns .dwnld-icn{
    width: 19px;
    height: 19px;
}

.action-btns .dlt-icn{
    width: 16px;
    height: 19px;
}

.action-btns .edit-icn{
    width: 20px;
    height: 20px;
}

.action-btns .archive-icn{
    width: 22px;
    height: 20px;
}

.action-btns .invite-icn{
    width: 18px;
    height: 18px;
}

.dlt-modal .modal-content{
    background-color: #fff;
}

.dlt-modal .delete-mdl{
    position: relative;
    padding-top: 15px;
}

.dlt-modal .delete-mdl i{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEE4E2;
    border: 6px solid #FEF3F2;
    color: #D92D20;
    font-size: 17px;
    position: absolute;
    top: 15px;
    left: 0;
}

.dlt-modal .btn-close{
    position: absolute;
    right: 0px;
    top: 10px;
}

.dlt-content{
    padding-left: 62px;
}

.dlt-content p{
    color: #475467;
    margin-top: 5px;
    margin-bottom: 0px;
}

.export-div{
    margin-top: 5px;
}

.export-bx{
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 15px;
    height: 100%;
    text-align: center;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.export-bx h3{
    color: #484848;
    font-size: 18px;
    margin: 22px 0px 15px;
}

.export-bx p{
    font-size: 14px;
    color: #727272;
    font-weight: 300;
    margin-bottom: 22px;
}

.export-bx .generate-btn{
    background-color: #EFF3FC;
    color: var(--main-color);
    padding: 4px 16px;
    border-radius: 20px;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.exportdetail-div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.exprt-box{
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.backto-link{
    color: #222B45;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 1s;
}

.backto-link i{
    font-size: 22px;
}

.backto-link:hover{
    color: var(--main-color);
    transition: 1s;
}

.radio-grp{
    display: flex;
    align-items: center;
    gap: 30px;
}

.exprt-box .form-group{
    margin-bottom: 20px;
}

.save-as{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 1s;
}

.save-as .save-img{
    width: 40px;
    height: 40px;
    background-color: #F0F4FC;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-as h6{
    margin-bottom: 0px;
    color: #3F3F3F;
    font-weight: 400;
    transition: 1s;
}

.save-grp{
    display: flex;
    align-items: center;
    gap: 30px;
}

.save-as:hover h6{
    color: var(--main-color);
    transition: 1s;
}

.card-bx{
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.gift-card .gift-bx{
    color: #191D21;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    justify-content: center;
    border: 1px dashed #ddd;
    padding: 20px;
    margin-bottom: 15px;
}

.gift-card .coupn label{
    font-size: 14px;
    color: #191D21;
}

.gift-card .coupn .input-group input{
    background-color: #F0F4FC;
    border: 0px;
    border-radius: 6px;
}

.submit-btn{
    border: 0px;
    background-color: var(--main-color);
    color: #fff;
    width: 38px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-card{
    background-color: #fff;
    padding: 5px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
    justify-content: space-between;
}

.payment1{
    padding: 20px;
}

.payment1 h3{
    color: #191D21;
    font-size: 20px;
}

.payment1 p{
    font-size: 14px;
    font-weight: 300;
    color: #6F6F6F;
    margin: 20px 0px;
}

.payment2{
    width: 40%;
    border-radius: 12px;
    padding: 25px;
    color: #fff;
    background: linear-gradient(105deg, #87C64D, #03ACC3);
}

.payment2 .card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.payment2 .card-head h6{
    color: #fff;
    font-size: 18px;
}

.payment2 h3{
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
}

.payment2 .card-btm{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.payment2 .card-1 h6{
    font-weight: 300;
}

.payment2 .card-1 h5{
    margin-bottom: 0px;
    font-size: 16px;
}

.billing-bx{
    height: 100%;
}

.billing-bx h5{
    font-weight: 400;
    font-size: 14px;
    color: #222B45;
}

.billing-bx h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    margin: 10px 0px 15px;
}

.billing-bx p{
    font-size: 14px;
    font-weight: 300;
    color: #6F6F6F;
}

.faq-card .accordion-button:not(.collapsed){
    box-shadow: none;
}

.faq-card h3{
    font-size: 20px;
    color: #191D21;
    margin-bottom: 18px;
}

.faq-card h3 span{
    font-size: 14px;
    font-weight: 400;
}

.faq-card .accordion-item{
    border: 0px;
    background-color: #E9EEF7;
    margin-bottom: 12px;
    border-radius: 10px;
}

.faq-card .accordion-button{
    font-size: 14px;
    color: #191D21;
    transition: 1s;
}

.faq-card .accordion-body{
    padding-top: 0px;
}

.faq-card .accordion-body p{
    color: #3C3C43;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
}

.faq-card .accordion-button:not(.collapsed){
    background-color: transparent;  
    font-size: 15px;
    transition: 1s;
}

.accordion-button::after{
    color: var(--main-color);
}

.grn-clr{
    color: var(--main-color) !important;
    font-weight: 400 !important;
}

.sub-box{
    background-color: #F0F4FC;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

.sub-box .sub-img{
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 10px;
    position: absolute;
}

.sub-head{
    padding-left: 65px;
    padding-top: 5px;
}

.sub-head h6{
    font-size: 12px;
    font-weight: 400;
    color: #6F6C90;
    margin-bottom: 5px;
}

.sub-head h4{
    font-size: 18px;
    color: #170F49;
}

.sub-body{
    margin-top: 50px;
    min-height: 130px;
}

.sub-body h2{
    color: var(--main-color);
    margin-bottom: 10px;
    font-weight: 600;
}

.sub-body p{
    font-size: 12px;
    color: #333;
    margin-bottom: 3px;
}

.sub-body p span{
    font-weight: 600;
}

.sub-details h4{
    font-size: 16px;
    color: #170F49;
    margin-bottom: 10px;
}

.sub-ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sub-ul li{
    font-size: 13px;
    margin: 5px 0px;
    margin-left: -5px;
    display: flex;
    align-items: flex-start;
    color: #313131;
    font-weight: 300;
}

.sub-ul li i{
    font-size: 18px;
    color: var(--main-color);
    margin-right: 2px;
}

.subscrptn-details h5{
    font-size: 15px;
    margin: 20px 0px 12px;
    color: #222;
}

.subscrptn-details h6{
    margin: 15px 0px 0px;
    font-weight: 300;
    color: #111;
}

.subscrptn-details h6 span{
    color: #FF3E14;
}

.bold-span{
    color: var(--main-color) !important;
    font-weight: 600 !important;
}

.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-container i {
    display: inline-block;
    position: relative;
    top: -9px;
  }
  
  label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 155px;
    height: 33px;
    background: #F0F4FC;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
      /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 80px;
    height: 28px;
    background: #88c64e;
    border-radius: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 4px 0px;
    color: #fff;
  }
  
  .btn-color-mode-switch > .alert {
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
  }
  
  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    background: #F0F4FC;
    color: #313135;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 73px;
    background: #88c64e;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 15px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
    display: block;
  }
  
  .dark-preview {
    background: #0d0d0d;
  }
  
  .white-preview {
    background: #fff;
  }

  .update-tm-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }

  .update-tm-price .tm-mbr{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .update-tm-price .tm-mbr h6{
    margin-bottom: 0px;
    margin-right: 25px;
    color: #101828;
  }

  .tm-qnty input{
    border: 1px solid #eee;
    width: 65px;
    height: 28px;
    border-radius: 3px;
    margin: 0px 2px;
    padding: 3px 10px;
    text-align: center;
  }

  .update-price h6{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 13px;
    color: #101828;
  }

  .update-price p{
    margin-bottom: 0px;
    font-size: 12px;
  }

  .tm-qnty input[type=number]::-webkit-inner-spin-button, 
.tm-qnty input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.tm-qnty input:focus-visible {
    outline: none;
}

.tm-qnty i{
    cursor: pointer;
}

.tm-qnty i:hover{
    color: #222;
}

.update-price{
    text-align: right;
}

.btn-grp1{
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 9px;
    padding: 3px;
    border-radius: 5px;
}

.btn-3{
    border: 0px;
    background-color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    height: 100%;
    color: #9291A5;
    transition: 1s;
}

.btn-3:hover{
    background-color: #aaa9bc;
    color: #fff;
    transition: 1s;
}


.img-upload-form input{
    display: none;
}

.img-upload-form{
    text-align: center;
    width: 125px;
    height: 125px;
    position: absolute;
}

.img-upload-form img{
    width: 100%;
    height: 100%;
    border-radius: 85px;
    border: 6px solid #f5f5f5;
    object-fit: cover;
}

.img-upload-form i{
    color: #333;
    font-size: 14px;
    width: 36px;
    height: 36px;
    border: 4px solid #fff;
    background: #E8EDF4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 5%;
    cursor: pointer;
}

.img-upload-form i:hover{
    background: var(--main-color);
    color: #ffffff;
    transition: 1s;
  }

  .profile-page .card-bx{
    margin-bottom: 20px;
  }

  .profile-page .card-bx h3{
    font-size: 18px;
    color: #222B45;
    margin-bottom: 22px;
  }

  .top-pro-details{
    padding-left: 150px;
    margin-bottom: 20px;
  }

  .profile-page .form-group{
    margin-bottom: 12px;
  }

  .profile-page .form-group label{
    margin-bottom: 5px;
    color: #222B45;
    font-weight: 400;
  }

  .profile-page .form-control{
    background-color: #F0F4FC;
    border-radius: 20px;
    border: 0px;
    font-size: 13px;
    padding: 7px 18px;
  }

  .profile-page .form-control::placeholder{
    color: #a3a3a3;
  }

  .profile-page .form-select{
    background-color: #F0F4FC;
    border-radius: 20px;
    border: 0px;
    font-size: 13px;
    padding: 7px 18px;
  }
  .mob-grp .form-select{
    max-width: 70px;
    padding-right: 0px;
  }

  .mob-grp .form-control{
    padding-left: 0px;
  }

  .note-box{
    background-color: #f0f4fc;
    padding: 15px;
    border-radius: 10px;
    margin-top: 18px;
    position: relative;
    margin-bottom: 10px;
  }

  .note-box label, .working-bx .form-check-label{
    font-weight: 400;
  }

  .note-box i{
    position: absolute;
    right: 7px;
    top: 8px;
    color: #FF3E14;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
  }

  .note-box i:hover{
    color: #d4300c;
    transition: 1s;
  }

  .note-box .form-control{
    background-color: #fff;
  }

  .wrking-days{
    display: flex;
    gap: 6px;
    margin: 8px 0px;
  }
  .wrking-days .avatar-xs{
    height: 38px;
    width: 38px;
    cursor: pointer;
  }

  .wrking-days .avatar-title{
    border: 3px solid #E0EAFF;
    font-size: 12px;
  }

  .wrking-days .active-bg::after , .wrking-days .inactive-bg::after{
    display: none;
  }

  .wrkng-grp hr{
    border-top: 1px solid #ebebeb;
    margin: 1.5rem 0;
  }

  .wrkng-grp{
    position: relative;
  }

  .wrkng-grp .close-wrkng-grp{
    position: absolute;
    right: 0px;
    top: 40px;
    color: #FF3E14;
    font-size: 22px;
    cursor: pointer;
    transition: 1s;
  }

  .wrkng-grp .close-wrkng-grp:hover{
    color: #d4300c;
    transition: 1s;
  }

  .rightside-checks h3{
    margin-bottom: 18px;
  }

  .rightside-checks p{
    color: #313135;
    line-height: 25px;
  }

  .rightside-checks .form-check{
    margin-bottom: 10px;
  }

  .rightside-checks .form-check-label{
    font-weight: 400;
    color: #313135;
  }

  .report-type{
    margin: 15px 0px;
    margin-bottom: 18px !important;
  }

  .track-type{
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }

  .tm-update label{
    margin-top: 10px;
    margin-bottom: 8px !important;
  }

  .tm-update h6{
    font-weight: 300;
    margin-bottom: 15px;
  }

  .team-detail-bx .note-box{
    margin-top: 10px;
  }

  .track-right .rightside-checks .report-type{
    margin-bottom: 0px !important;
  }

  .mod-icon{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3fdca;
    border: 6px solid #f5ffec;
    font-size: 17px;
    position: absolute;
    top: 15px;
    left: 0;
  }

  .mod-icon svg path{
    stroke: #87c64d;
  }

  .dlt-user-div{
    margin: 18px 0px 0px;
  }

  .app-pro-div{
    margin-top: 5px;
  }

  .app-pro-bx{
    background-color: #fff;
    padding: 30px 22px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
  }

  .app-pro-bx h2{
    color: #1C274C;
    font-size: 18px;
    position: relative;
  }

  .pro-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: var(--main-color);
  }

  .unpro-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #FF3E14;
  }

  .neutral-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #FFCB14;
  }

  .email-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #FF3E14;
  }

  .social-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #A614FF;
  }

  .office-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #87C64D;
  }

  .entertainment-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #FFCB14;
  }

  .news-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #0077FF;
  }

  .undefined-apps h2::before{
    content: "";
    position: absolute;
    left: -22px;
    top: -9px;
    height: 38px;
    width: 5px;
    border-radius: 5px;
    background-color: #A3B6CC;
  }

  .drag-apps{
    margin: 25px 0px 0px;
    padding: 0px;
    list-style-type: none;
  }

  .drag-apps .app-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F0F4FC;
    padding: 6px;
    border-radius: 50px;
    margin: 10px 0px;
    cursor: move;
  }

  .drag-apps .app-div .app-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .drag-apps .app-div .app-details .app-img{
    background-color: #F0F4FC;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drag-apps .app-div .app-details .app-img img{
    height: 20px;
  }

  .drag-apps .app-div .app-details h6{
    margin-bottom: 0px;
    color: #191D21;
    font-weight: 400;
    font-size: 14px;
  }

  .drag-apps .app-div .app-usage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .drag-apps .app-div .app-usage h5{
    margin-bottom: 0px;
    color: #191D21;
    font-weight: 400;
    font-size: 13px;
  }

  .drag-apps .app-div .app-usage i{
    font-size: 20px;
    color: #adadad;
    margin-right: 10px;
  }

  .app-empty{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .app-empty p{
    color: #bbb;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
  }

  .app-empty1{
    background-color: #fff;
    padding: 30px 22px;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .app-empty1 p{
    color: #bbb;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  .category-div{
    margin-top: -10px;
  }

  .cat-clr{
    margin: 10px 0px 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 5px;
  }

  .cat-clr li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 1s;
  }

  .cat-clr li:nth-child(1){
    background-color: #87C64D;
  }
  .cat-clr li:nth-child(2){
    background-color: #FF3E14;
  }
  .cat-clr li:nth-child(3){
    background-color: #AD2EFD;
  }
  .cat-clr li:nth-child(4){
    background-color: #FFCB14;
  }
  .cat-clr li:nth-child(5){
    background-color: #FF14AF;
  }
  .cat-clr li:nth-child(6){
    background-color: #066FEB;
  }
  .cat-clr li:nth-child(7){
    background-color: #C64D4D;
  }
  .cat-clr li:nth-child(8){
    background-color: #4DB0C6;
  }

  .cat-clr li.active, .cat-clr li:hover{
    border: 2px solid #ccc;
    transition: 1s;
  }

  .member-team{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
  }

  .member-team a{
    color: #1C274C;
  }

  .report-div{
    margin-top: 5px;
}


.report-bx{
    background-color: #fff;
    padding: 25px 22px 20px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.report-bx h3{
    color: #1C274C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.report-bx h2{
    font-weight: 600;
    margin-bottom: 0px;
    color: #5D7285;
    font-size: 30px;
}

.report-bx svg{
    margin-left: auto;
    display: block;
}

.pro-report h2{
    color: var(--main-color);
}

.offline-report h2{
    color: #FF3E14;
}

.noactive-bg{
    background-color: #FF3E14;
}

.noactive-bg::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #FF3E14;
    border: 3px solid #fff;
}

.pro-users-div{
    margin-top: 5px;
}

.pro-users-bx{
    background-color: #fff;
    padding: 25px 22px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.pro-users-bx h2{
    font-size: 16px;
    color: #1C274C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.pro-users-bx h2 a{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
}

.most-pro h2 a{
    background-color: #EAFFEB;
    color: var(--main-color);
}

.pro-list{
    border: 1px solid #F0F4FC;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pro-list .user-name h6{
    font-size: 14px;
    font-weight: 500;
}

.pro-list .pro-time{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 10px;
}

.pro-list .pro-time h5{
    margin-bottom: 0px;
    font-size: 14px;
    color: #5D7285;
}

.pro-list .pro-time h6{
    margin-bottom: 0px;
}

.most-pro .pro-time h6{
    color: var(--main-color);
}

.most-unpro h2 a{
    background-color: #FFEAEA;
    color: #FF3E14;
}

.most-unpro .pro-time h6{
    color: #FF3E14;
}

.most-eff h2 a{
    background-color: #EAF4FF;
    color: #2388FF;
}

.most-eff .pro-time h6{
    color: #2388FF;
}

.total-desk h2 a{
    background-color: #FFF8E2;
    color: #FFCB14;
}

.total-desk .pro-time h6{
    color: #FFCB14;
}

.pro-empty-list{
    text-align: center;
}

.pro-empty-list p{
    color: #bbb;
    font-size: 14px;
    margin: 10px 0px 0px;
    text-align: center;
}

.absent-list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.prod-box{
    background-color: #F6F6F6;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
    border-radius: 10px;
}

.prod-box .prod-detail h6{
    margin-bottom: 10px;
    font-weight: 400;
    color: #2E2A2A;
}

.prod-box .prod-detail h5{
    margin-bottom: 0px;
    color: #2E2A2A;
    font-size: 18px;
}

.probar-graph-div{
    margin-top: 5px;
}

.pro-bar-div{
    background-color: #fff;
    padding: 25px 22px 20px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.pro-bar-graph h2{
    font-size: 18px;
    color: #1C274C;
    margin-bottom: 18px;
}


/* new style added */

.nav-link {
    padding: 15px 25px;
}

.tab-div{
    margin-top: 15px;
}
.table-bottom{
    padding-top: 25px !important;
}