@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --main-color: #87C64D;
    --hover-color: #6caf2f;
    --inactive: #A3B6CC;
}

body{
    background-color: #F0F4FC;
}

/* login */

.login-left-div, .login-right-div{
    height: 100vh;
}

.login-page{
    background-color: #F0F4FC;
}

.login-left-div{
    background-color: #fff;
    padding: 70px 100px 50px 150px;
    border-radius: 0px 250px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-img{
    width: 160px;
}

.login-intro h5{
    font-size: 40px;
    font-family: var(--bs-font-alata);
    color: #000;
    margin-bottom: 0px;
}

.login-intro h2{
    font-size: 58px;
    font-family: var(--bs-font-alata);
    color: #000;
}

.login-intro p{
    color: #686868;
    font-size: 16px;
    font-family: var(--bs-font-nunito);
    width: 70%;
    font-weight: 300;
    margin: 20px 0px 30px;
}

.login-img{
    width: 60%;
}

.login-right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-div .login-form{
    width: 56%;
    text-align: center;
}

.login-form h3{
    font-size: 35px;
    font-family: var(--bs-font-alata);
    color: #000;
}

.login-form p{
    font-size: 15px;
    color: #313131;
    font-weight: 300;
    margin: 20px 0px 30px;
}

.login-form .form-group{
    margin-bottom: 20px;
}

.login-form .form-group input{
    height: 55px;
    border: 0px;
    border-radius: 15px;
    font-size: 15px;
    color: #222;
    font-weight: 300;
    padding: 0px 24px;
    box-shadow: 0px 18px 30px rgb(68 97 242 / 11%);
}

.auth-pass-inputgroup .btn{
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding: 0px 20px 0px 0px;
    font-size: 20px;
}

.auth-pass-inputgroup .btn:active{
    border: 0px;
    background-color: #fff;
    box-shadow: none;
}

.forgot-pass{
    color: #6C737F;
    float: right;
    font-size: 13px;
    transition: 1s;
}

.forgot-pass:hover{
    color: var(--main-color);
    transition: 1s;
}

.login-form .form-check-label{
    font-weight: 400;
}

.btn-1{
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 10px;
    transition: 1s;
}

.btn-1:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.btn-2{
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.btn-2:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.login-form .form-check{
    font-size: 13px;
}

.login-bottom {
    margin-top: 25px;
}

.login-bottom p {
    color: #98A2B3;
    font-size: 15px;
}

.login-bottom p a{
    color: var(--main-color);
    transition: 1s;
}

.login-bottom p a:hover{
    color: var(--hover-color);
    transition: 1s;
}

.login-form .mt-33{
    margin-top: 33px;
}

.or-signin .hr{
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    margin: 35px 0px 40px;
}

.or-signin .hr span{
    color: #6C737F;
    font-size: 14px;
    font-weight: 400;
    background-color: #f0f4fc;
    position: relative;
    top: -10px;
    padding: 0px 30px;
}

.social-list-item {
    height: 40px;
    width: 40px;
    display: flex;
    border: 0px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 30px rgb(68 97 242 / 15%);
}

.social-list-item:hover {
    box-shadow: 0px 3px 10px rgb(68 97 242 / 45%);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.or-signin .list-inline-item:not(:last-child){
    margin-right: 1rem;
}

.backtologin{
    position: absolute;
    top: 150px;
    right: 100px;
}

.backtologin a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #313131;
    font-size: 14px;
    font-weight: 400;    
    transition: all .4s;
}

.backtologin a:hover{
    color: var(--main-color);
    transition: all .4s;
}

.otp-input{
    width: 75%;
    margin: 0 auto;
}

.otp-input .form-control {
    margin: 0px 10px 0px 0px;
    font-weight: 400;
    text-align: center;
}

.otp-input input[type=number]::-webkit-inner-spin-button, 
.otp-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.login-form #counter{
    font-size: 16px;
    color: #6d737f;
    margin: 20px 0px 0px;
    font-weight: 400;
}

.successful-msg h5{
    font-size: 35px;
    font-family: var(--bs-font-alata);
    color: #000;
    margin: 20px 0px 20px;
}

.successful-msg p{
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}


/* layout */

.navbar-header-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 270px;
}

.btn-expand{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    color: #828db4;
    position: absolute;
    top: 25px;
    left: 207px;
    transform: rotate(-180deg);
    transition: color .5s;
}

.btn-expand:hover{
    color: var(--main-color);
    transition: color .5s;
}

.profile-dropdown .dropdown-divider{
    margin: 2px 0px;
}

.profile-dropdown .dropdown-item svg{
    width: 15px;
}

.profile-dropdown .dropdown-item{
    padding: 5px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #404040;
}

.profile-dropdown .dropdown-item span{
    position: absolute;
    left: 45px;
}

.profile-dropdown .dropdown-menu.show{
    min-width: 185px;
}



/* team-member */

.left-page-title h4{
    font-weight: 400;
    font-size: 12px;
    color: #707EAE;
}

.left-page-title h4 a{
    color: #707EAE;
}

.left-page-title h3{
    color: #2B3674;
    font-size: 20px;
    margin-bottom: 0px;
}

.right-page-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calndr-picker{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #222B45;
}

.calndr-picker h6{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
}

.calndr-picker svg{
    margin: 0px 10px;
    cursor: pointer;
}

.calndr-picker svg:focus{
    outline: 0 !important;
}

.calndr-picker span{
    font-size: 22px;
    cursor: pointer;
}

.tab-div .nav-pills{
    background-color: #fafaff;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgb(248 248 255 / 10%);
}

.tab-div .nav-pills>li>a{
    color: #828db4;
    font-weight: 400;
}

.tab-div .nav-pills .nav-link.active, .tab-div .nav-pills .show>.nav-link{
    background-color: var(--main-color);
}

.tab-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.tab-right .app-search{
    padding: 0px;
}

.tab-right .app-search .form-control{
    margin-right: 0px;
    width: 300px;
    height: 35px;
    background-color: var(--bs-white);
}

.tab-right .app-search span{
    line-height: 34px;
    left: 15px;
}

.tab-right .dropdown-toggle{
    cursor: pointer;
}

.table-div{
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.table th{
    color: #222B45;
    padding: 0.7rem 0.75rem;
}

.user-name{
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name h6{
    margin-bottom: 0px;
    color: #5D7285;
    font-weight: 400;
}

.user-name .avatar-xs{
    height: 2rem;
    width: 2rem;
    position: relative;
}

.user-name .avatar-title{
    border: 3px solid #E0EAFF;
}

.active-bg{
    background-color: var(--main-color);
}

.inactive-bg{
    background-color: var(--inactive);
}

.active-bg::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--main-color);
    border: 3px solid #fff;
}

.inactive-bg::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: var(--inactive);
    border: 3px solid #fff;
}

.table tr td:first-child{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-left: 1px solid #F0F4FC;
}

.table tr td:last-child{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-right: 1px solid #F0F4FC;
}

.table tr td{
    border-top: 1px solid #F0F4FC;
    border-bottom: 1px solid #F0F4FC;
}

.table-div .table{
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.table-bottom{
    padding: 5px;
}

.table-bottom p{
    margin-bottom: 0px;
    color: #5d7285;
}

.table-bottom .pagination{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.table-bottom .pagination .page-link{
    border: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #F0F4FC;
}

.table-bottom .pagination .active .page-link{
    background-color: var(--main-color);
}

.table-bottom .pagination .page-link:hover{
    background-color: var(--main-color);
}

.datepicker-switch{
    text-align: center;
}

.datepicker-days th{
    text-align: center;
}

.datepicker-days th.next, .datepicker-days th.prev{
    cursor: pointer;
}

.datepicker{
    min-width: 130px;
}

.datepicker-months{
    width: 100%;
}

.datepicker-months table{
    width: 100%;
}

.datepicker-months th{
    text-align: center;
}

.datepicker-months td span{
    font-size: 14px;
    padding: 3px 0px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.modal-title{
    display: flex;
    flex-direction: column;
    color: #101828;
    font-size: 20px;
}

.modal-title span{
    color: #9C9C9C;
    font-size: 12px;
    font-weight: 300;
}

.modal label{   
    color: #313135;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
}

.modal .form-control{
    border-radius: 25px;
    border: 0px;
    padding: 6px 15px;
}

.modal select{
    border-radius: 25px;
    border: 0px;
    padding: 6px 15px;
}

.modal .form-group{
    margin-bottom: 10px;
}

.add-new-member{
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    transition: 1s;
}

.add-new-member:hover{
    color: var(--hover-color);
    transition: 1s;
}

.import-frm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.import-frm ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0px;
    padding-left: 25px;
}

.import-frm ul li{
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.add-new{
    margin-top: 20px;
}

.import-frm h6{
    margin-bottom: 0px;
    font-weight: 400;
    color: #313135;
}
.success-btn{
    background-color: var(--main-color);
    color: white;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.success-btn:hover{
    background-color: var(--hover-color);
    transition: 1s;
}

.cancel-btn{
    background-color: #E3E3E3;
    color: #909090;
    border: 0px;
    font-size: 13.5px;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 1s;
}

.cancel-btn:hover{
    background-color: #999;
    color: #fff;
    transition: 1s;
}

.modal .form-checkbox-outline .form-check-input{
    border-width: 1px;
    border-color: #d5d5d5 !important;
    width: 20px;
    height: 20px;
}

.modal .form-checkbox-outline .form-check-input:checked:after{
    top: 1px !important;
    left: 2px;
    font-size: 16px;
    color: #777;
}

.modal .form-checkbox-outline .form-check-input:checked{
    border-color: #777;
}

.modal .form-checkbox-outline label{
    margin-bottom: 0px;
}

.modal .form-checkbox-outline{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* colleagues */

.collg-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.collg-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.collg-top img{
    height: 23px;
}

.collg-top span{
    background-color: #EAF4FF;
    color: #2388FF;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 20px;
}

.collg-details{
    padding: 15px 180px 0px 0px;
}

.collg-details h2{
    font-size: 20px;
    font-weight: 400;
    color: #191D21;
    margin-bottom: 8px;
}

.collg-details p{
    font-size: 13px;
    color: #868DA6;
    margin-bottom: 10px;
}

.collg-details h5{
    color: #87C64D;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.collg-details h6{
    font-size: 13px;
    color: #868DA6;
    font-weight: 300;
}

.collg-details ul{
    margin: 20px 0px 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.collg-details ul li a{
    color: #222;
    font-size: 15px;
    transition: 1s;
}

.collg-details ul li a:hover{
    color: var(--main-color);
    transition: 1s;
}

.collg-body{
    position: relative;
}

.collg-body .collg-img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 125px;
    height: 125px;
    border: 5px solid #F0F4FC;
    border-radius: 50%;
}

.collg-body .collg-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.collg-body .collg-img::after{
    content: "";
    position: absolute;
    bottom: 5px;
    right: 8px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.collg-body .collg-img.active::after{
    background-color: var(--main-color);
}

.collg-body .collg-img.inactive::after{
    background-color: var(--inactive);
}

/* .colleague-div{
    max-height: 82vh;
    overflow-y: auto;
} */


/* screenshot */

.screenshot-div{
    margin-top: 10px;
}

.screenshot-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 24px 48px -8px rgb(39 76 119 / 16%);
}

.screenshot-box img{
    width: 100%;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
}

.scrnsht-details{
    display: flex;
    color: #41485C;
    justify-content: space-between;
    margin-top: 8px;
}

.scrnsht-details h6{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
}

.scrnsht-details h6 i{
    margin-right: 5px;
}

.action-btns{
    display: flex;
    gap: 15px;
    margin: 10px 0px;
}

.action-btns .dwnld-icn{
    width: 23px;
    height: 23px;
}

.action-btns .dlt-icn{
    width: 20px;
    height: 23px;
}